.mergegrid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 2rem;
}
.mergebox{
     
  background-color: white; 
  border-radius: 20px;
  padding: 50px;
  text-align: center;

  position: relative;
  margin-top: 1rem;
  height: 21rem;
  width: 26rem;
  left: 12%;

}
.mghead1 {
    position: relative;
    font-size: 1.2rem;
    color:black;
    right: 50%;
}
.mghead2 {
    position: relative;
    font-size: 1rem;
    color:#4E4747;
    opacity: 0.8;
    bottom: 1rem;
    right: 20%;
}
.mghead3 {
    position: relative;
    font-size: 1.2rem;
    color:black;
    right: 43.75%;
}
.mghead4 {
    position: relative;
    font-size: 1rem;
    color:#4E4747;
    opacity: 0.8;
    bottom: 1rem;
    right: 26.5%;
}
.upload-box {
  position: relative;
  margin-top: 20px;
  border: 2px dashed grey;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  transition: 0.3s ease;
  right: 3.75%;
}
.remove1 {
  color:#4E4747;
    opacity: 0.8;
    font-family: Poppins;
      background: none;
  border: none;
}
.remove1:hover{
  opacity: 1;
  cursor: pointer;
}
/* Hover effect */
.upload-label:hover {

  opacity: 0.5;
}
.remove1 {
  color:#4E4747;
    opacity: 0.8;
    
}
.remove1:hover {
  color:#4E4747;
    opacity: 0.5;
    cursor: pointer;
    
}
/* Button style */
.upload-label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
/* File preview */
.file-preview {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}
.mergebox1{
     
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  
  position: relative;
  margin-top: 1rem;
  height: 21rem;
  width: 29rem;
  right: 12rem;
 
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.download1-box {
  position: relative;  
  margin-top: 20px;
  border: 2px dashed  #FF3131;
  border-radius: 12px;
  padding: 40px;
  text-align: center;
  background-color: #fafafa;
  right: 5%;
}
.download-box1:hover {
  border-color:  #FF3131;
  background-color: #f9f9f9;
  opacity: 0.5;
}

/* Button style */
.download-label {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #4E4747;
  opacity: 0.80;
}
/* Button */
.mergebox2 {
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;

  position: relative;
  margin-top: 6.5rem;
  height: 5rem;
  width: 4rem;
  left: 22%;
}
.mergebox2 img {
    position: relative;
    top: 0.5rem;
    width: 200%;
    right: 38%;
}
.mghead5 {
    position: relative;
    font-size: 0.8rem;
    color:#4E4747;
    opacity: 0.8;
    text-align: left;
    white-space: nowrap;
    right: 32%;
    top: 0.025rem;
}
.button-container1 {
  position: relative; /* makes child absolute positioning relative to this */
  top: 1rem; 
  right: 18%;/* or whatever height you need */
}

.mghead6 {
    font-family: Poppins;
    position: absolute;
    font-size: 1rem;
    bottom: 2rem;
    left: 20%; /* moves from left of container */
    background: none;
    border: none;
    text-align: left;
    white-space: nowrap;
}

.mghead6:hover {
  cursor: pointer;
  opacity: 0.5;
}
.mghead6 {
    position: relative;
    font-size: 1rem;
    top: 1rem;
  
    text-align: left;
    white-space: nowrap;
     left: 10%;
    
}

.mghead7 {
    position: relative;
    font-size: 0.7rem;
    top: 0.1rem;
   color:#4E4747;
    opacity: 0.8;
    text-align: left;
    white-space: nowrap;
     right: 3%;
    
}
.add-more-btn {
    cursor: pointer;
    opacity: 0.5;
}
.add-more-btn:hover {
    cursor: pointer;
    opacity: 1;
}
.file-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  top: -2rem;
}

.file-item1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: grab;
  
}

.file-item1 p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
   overflow: hidden;    
}
.file-item1:active {
  cursor: grabbing;
}

@media (max-width: 768px) {

    .mergegrid {
   grid-template-columns: 1fr;
   padding: 0 1rem; 
   

}
.mergebox {
  position: relative;
  left: -2rem;
  bottom: 3rem;
}
.upload-box {
  width: 75%;
}
.mergebox2 {
  position: relative;
  top: -21rem;
  
 
}
.mergebox2 img {
display: none;
}
.mghead5 {
  display: none;
}
.mghead6 {
  border: 2px solid #FFDA61;
  left: 10%;
  border-radius: 12px;
  width: 100%;
  padding-left: 0.65rem;
   
}
.button-container1 {
  right: 11rem;

}
.mergebox1 {
  left: -1.5rem;
  bottom: 30rem;
}
.download1-box {
   width: 68%;
}
.mghead3 {
  left: -12.5rem
}
}

@media (max-width: 430px) {
  .upload-box {
  width: 50% !important;
  max-width: 50% !important;
}
.download1-box {
    width: 50% !important;
  max-width: 50% !important;
}
.mghead2 {
  right: 23%; 
}
.mghead4 {
  right: 28%;
}
}